$color-gray-light-tint: #e5e8eb;
$color-gray-light: #dee2e6;
$color-gray-light-shade: #b2b5b8;

$color-gray-dark-tint: #5d6166;
$color-gray-dark: #343a40;
$color-gray-dark-shade: #2a2e33;

$color-primary-light: #39997c;
$color-primary: #087f5b;
$color-primary-shade: #066649;

$color-primary-text: #e6f2ef;
