.pagination {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10rem auto;
  font-size: 1.8rem;

  &__item {
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-gray-dark;
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.1s;
    }

    &:hover,
    &:active {
      background-color: $color-primary;
      color: $color-gray-light;
    }
  }

  &__arrow {
    &:link,
    &:visited {
      border: 2px solid $color-primary;
      width: 5rem;
      height: 5rem;
      text-decoration: none;
      color: $color-primary;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover,
    &:active {
      color: $color-gray-light;
      background-color: $color-primary;
    }
  }

  &__icon {
  }
  &__dots {
  }

  &__active {
    &:link,
    &:visited {
      background-color: $color-primary;
      color: $color-gray-light;
    }
  }
}
